body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text{
    font-weight: 400;
    margin: 60px auto;
}
.text h2{
    margin-left: 350px;
}
.text p{
    margin-left: 350px;
}
.container1{
    margin-left: 350px;
    font-size: 15px;
    margin-top: 60px;
}
.container1 input{
    border-radius: 12px;
    padding: 5px;
    width: 320px;
    height: 30px;
}
.container1 p{
    margin-left:5px;
}
.signup{
    font-weight: 400;
    font-size: 17px;
    color: white;
    border: 1px solid rgb(250, 90, 189);
    border-radius: 12px;
    cursor: pointer;
    width: 420px;
    height: 40px;
    background-color: rgb(250, 90, 189);
   margin-top: 30px;
    }
    .signup p{
      color: white;
      margin-top: 10px;
      margin-left: 160px;
    }
  .signup h5{
        font-weight: 400;
        font-size: 15px;
        color: gray;
        margin-left: 140px;
        text-decoration: none;
    }
